html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* <-------flex------->  */

/* .flex{
  display: flex
} */
.jc-center{
  justify-content: center;
}
.jc-left{
  justify-content: left;
}
.jc-right{
  justify-content: right;
}



/* <-------text aligns------->  */

.align-left{
  text-align:left
}
.align-right{
  text-align:right
}
.align-center{
  text-align:center
}

/* <-------dimensions------->  */

.width-100{
  width: 100%;
}
.width-75{
  width: 75%;
}
.width-50{
  width: 50%;
}
.width-25{
  width: 25%;
}
.height-100{
  height: 100%;
}
.height-75{
  height: 75%;
}
.height-50{
  height: 50%;
}
.height-25{
  height: 25%;
}